[submodule "libs/beef-toml"]
	path = libs/beef-toml
	url = https://github.com/killamaaki/beef-toml
[submodule "libs/CowieCLI"]
	path = libs/CowieCLI
	url = https://github.com/RogueMacro/CowieCLI
	branch = master
